@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: white;
  --text-color: #000;
  --box-shadow: rgb(134, 130, 130);
  --watermark: #dad5d5;
  --hamberger-color: rgb(72, 70, 70);
  --h1-gradient-color: #0542f8, #201f1f;
  --light-heading-clor: #444343;
}
.resume-container {
    width: 100%;
    height: 100%;
    margin-top: 4rem;
}

.vertical-text{
    width: 10%;
}
.project-heading h1{
    font-size: 45px;
    margin-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#b6a2a2, #2232dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.project-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 340px;
    /* height: 350px; */
    background-color: var(--background);
    border: 1px solid var(--text-color);
    padding: 20px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: .45s linear;
}
.project-profile-container:hover{
    box-shadow: 0 0 20px var(--box-shadow);

}
.project-profile-container:hover .project-profile-content img{
    transform: scale(0.9);
}
.project-profile-content img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    transition: .45s linear;

}
.project-profile-text h4{
    font-size: 40px;
    font-family: "Pacifico", cursive;
    color: var(--light-heading-clor);
}
.project-btn button{
    padding: 10px;
    width: 130px;
    flex: 1;
}


  @media(max-width: 780px){
    header{
      padding: 10px 0;
    }
    .bg-watermark{
      display: block;
    }
    span {
      font-size: 5.5rem;
  }
    .vertical-text{
      display: none;
    }
}
  @media(max-width: 700px){
    .project-profile-container{
        width: 80%;
    }
    .project-profile-content img{
        width: 100%;
    }
    span {
        font-size: 7rem;
    }
  }
  @media(max-width: 500px){
    span{
        font-size: 5rem;
    }
    .project-heading h1{
        font-size: 35px;
    }
  }
  @media(max-width: 410px){
    .project-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .project-profile-text h4{
        font-size: 30px;
    }
  }