@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: white;
  --text-color: #000;
  --box-shadow: rgb(138, 135, 135);
  --watermark: #dad5d5;
  --hamberger-color: rgb(72, 70, 70);
  --h1-gradient-color: #0542f8, #201f1f;
  --light-heading-clor: #444343;
}

body {
  background: var(--background);
}

.dark{
  --background: #000;
  --text-color: #fff;
  --box-shadow: rgb(74, 73, 73);
  --watermark: #3d3d3d;
  --hamberger-color: rgb(220, 210, 210);
  --h1-gradient-color: #eaecf1, #073bd8;
  --light-heading-clor: #afabab;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  align-items: center;
  justify-content: right;
  position: fixed;
  top: 50px;
  width: 100%;
  padding: 10px 80px;
  z-index: 200;
}

.nav-icons {
  display: flex;
}

.icon {
  margin-inline: 20px;
}
.nav-icons i {
  font-size: 25px;
  cursor: pointer;
  color: var(--hamberger-color);
}
.logo img {
  width: 100px;
  height: 70px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  right: 100px;
  background-color: var(--background);
  box-shadow: 0 0 10px var(--box-shadow);
  padding: 2rem;
  width: 200px;
  height: 280px;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.45 ease;
  border-radius: 20px;
}
nav a {
  margin-block: 10px;
  font-size: 20px;
  color: var(--text-color);
  width: 120px;
  text-align: center;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.45s linear;
}
nav a:hover {
  box-shadow: 0 0 10px var(--box-shadow);
}

.hamburger-nav-active {
  transition: 0.45 ease;
  transform: scaleX(1.2);
  opacity: 1;
}
section {
  padding: 4rem 6rem;
  overflow: hidden;
}
.bg-watermark {
  width: 100%;
  text-align: center;
  font-size: clamp(6rem, 1.3333rem + 14.9333vw, 20rem);
  font-weight: 800;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translatex(-50%) translatey(-15%);
  user-select: none;
  letter-spacing: 0.5rem;
  z-index: -1;
  overflow: hidden;
}

span {
  /* width: 100%; */
  text-transform: uppercase;
  display: block;
  font-size: 7.5rem;
  color: var(--watermark);
  overflow: hidden;
}

.resume-heading h1 {
  font-size: 36px;
  margin-top: 4rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  z-index: 2;
  background: -webkit-linear-gradient(var(--h1-gradient-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-container {
  width: 100%;
  height: 100vh;
  margin-top: 6rem;
  display: flex;
  /* flex-direction: column; */
}
.vertical-text {
  width: 10%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.vertical-text p {
  font-family: "Poppins", sans-serif;
  writing-mode: vertical-lr;
  font-size: 16px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.vertical-text i {
  transform: rotate(90deg);
  width: -120px;
}

.resume-content {
  width: 90%;
  display: flex;
}
.content {
  width: 100%;
  display: flex;
  gap: 20px;
}
.left-resume {
  width: 45%;
}
.right-resume {
  width: 45%;
}
.resume-summery {
  border-left: 2px solid var(--text-color);
  margin: auto 20px;
  padding: 0 20px;
  position: relative;
}
.resume-summery::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  left: -8px;
  background-color: var(--background);
  border: 3px solid blue;
  border-radius: 50%;
}
.resume-summery h3 {
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--light-heading-clor);
}
.resume-summery p {
  line-height: 1.6;
  color: var(--text-color);
}
.resume-summery h5 {
  margin: 10px 0;
  font-size: 16px;
  text-decoration: underline;
  color: var(--text-color);
}

.resume-summery i {
  font-size: 10px;
  margin-right: 10px;
  color: blue;
}
.resume-summery > span {
  margin-bottom: 10px;
}
.blue-span {
  color: blue;
  font-weight: 600;
  font-size: 14px;
}
.black-span {
  font-size: 14px;
  font-weight: 900;
  color: var(--text-color);
}
.btn{
  text-align: center;
  margin-bottom: 6rem;
}
button{
  position: relative;
  margin-top: 1rem;
  padding: 12px 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: linear-gradient( 91.2deg,  rgba(136,80,226,1) 4%, rgba(16,13,91,1) 96.5% );
  color: white;
  font-family: "Pacifico", cursive;
  transition: .5s ease;
  font-size: 18px;
  border-radius: 20px;
  letter-spacing: 2px;
 
}
button a{
  color: white;
  font-family: "Pacifico", cursive;
}
button:hover{
    letter-spacing: 4px;
}
@media(max-width: 1300px){
  section {
    padding: 4rem 0rem;
    overflow: hidden;
}
}

@media(max-width: 1050px){
  section{
  overflow: visible;

  }
  .content{
    flex-direction: column;
    height: 100%;
  }
  .left-resume{
    width: 100%;
  }
  .right-resume{
    width: 100%;
  }
  .resume-container {
    width: 100%;
    height: 100%;
}
}
@media(max-width: 550px){
  nav{
    right: 40px;
  }
  header{
    padding: 10px 0;
  }
  .bg-watermark{
    display: block;
  }
  span {
    font-size: 5.5rem;
}
  .vertical-text{
    display: none;
  }
  .resume-content{
    padding: 0 1rem;
    width: 100%;
  }
  .resume-container {
    width: 100%;
    height: 100vh;
    margin-top: 1rem;

}
.btn{
  display: none;
}
}
@media(max-width: 424px){
  span {
    font-size: 4.5rem;
}
}