<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/e944101661.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/contact.css">
    <link rel="stylesheet" href="/static/css/resume.css" />
    <link rel="stylesheet" href="/static/css/project.css" />
    <title>Projects</title>
  </head>
  <body>
    <header>
      <div class="nav-icons">
        <div class="daynight icon"><i class="fa-solid"></i></div>
        <div class="Hamburger icon"><i class="fa-solid fa-bars"></i></div>
      </div>
      <nav>
        <a href="{% url "home" %}">Home</a>
        <a href="{% url "resume" %}">Resume</a>
        <a href="{% url "project" %}">Project</a>
        <a href="{% url "contact" %}">Contact</a>
      </nav>
    </header>
    <section class="resume">
      <div class="resume-watermark">
        <div class="bg-watermark">
          <span>Contact Me</span>
        </div>
      </div>
      <div class="project-heading">
        <h1>Contact</h1>
      </div>
      <div class="resume-container">
        <div class="vertical-text">
          <p>
            Contact ME
            <i class="fa-solid fa-window-minimize fa-flip-vertical fa-2xs"></i
            ><i class="fa-solid fa-window-minimize fa-flip-vertical fa-2xs"></i
            ><i class="fa-solid fa-window-minimize fa-flip-vertical fa-2xs"></i
            ><i class="fa-solid fa-window-minimize fa-flip-vertical fa-2xs"></i>
          </p>
        </div>
        <div class="contact-content">
            <div class="contact-img">
                <img src="/static/images/contact.png" alt="">
              </div>
              <div class="contact-form">
                
                  <div class="contact-border">
                    <form action="" method='POST'>
                      {% csrf_token %}
                    <div class="full-name">
                      <div class="f-name">
                        <input type="text" name="fname" id="fname" placeholder="First Name">
                      </div>
                      <div class="l-name">
                        <input type="text" name='lname' id="lname" placeholder="Last Nmae">
                      </div>
                    </div>
                    <div class="email">
                      <input type="email" id="mail" name='email' placeholder="Enter Mail">
                    </div>
                    <div class="descrip">
                      <textarea rows="5" name="description" id="description" placeholder="Description"></textarea>
                    </div>
                      <button type='submit'>Submit</button>
                    </form>
                  </div>
                
              </div>
          </div>
      </div>
    </section>

    <script>
      const dayNight = document.querySelector(".daynight");
      dayNight.addEventListener("click", () => {
        document.querySelector("i").classList.toggle("fa-sun");
        document.querySelector("i").classList.toggle("fa-moon");
        document.body.classList.toggle("dark");
      });
      window.addEventListener("load", () => {
        if (document.body.classList.contains("dark")) {
          dayNight.querySelector("i").classList.add("fa-sun");
        } else {
          dayNight.querySelector("i").classList.add("fa-moon");
        }
      });
    </script>
    <script src="/static/js/resume.js"></script>
  </body>
</html>
